body{
	
	margin:0;


}



.main{


	width:100%;
	height: 100vh;
	background: url("../img/kor.jpg") ;
	background-size: 100% 100%;
	transform: scale(-1, 1)

}



.navigation_main_vhod{
	padding: 10px 40px;

	cursor: pointer;

	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 300;
	color: #FF7200;
	background: none;
	border: #FF7200 solid 2px;

}

.navigation_main_reg{

	cursor: pointer;
	padding: 10px 40px;

	margin-top: 20px;

	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 300;
	color: white;
	background-color:#FF7200;
	border-color: #FF7200;

}

.fraza{
	font-family: 'Montserrat', sans-serif;
	color: black;
	margin-top: 150px;
	font-size: 40px;
}

.box{
	display: grid;
	place-items: center;
	width: 1200px;
	height: 400px;
	padding-top: 10px;
	margin-right: 900px;
	transform: scale(-1, 1)
}
